.footer {
  display: flex;
  align-items: center;
  background-color: #2e2f42;
  height: 312px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.footer-left-container {
  width: 264px;
  height: 112px;
  max-width: 264px;
  margin: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #f4f4fd;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.logo-web {
  color: #4d5ae5;
}
