.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
  margin-bottom: 0;
}

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */

.logo {
  width: 115px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

/* Navigations styles */
.header-nav {
  display: flex;
  width: 253px;
  height: 72px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: block;
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Address styles */

.header-address {
  display: flex;
  width: 344px;
  height: 72px;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

.address-link {
  display: block;
  font-weight: 400;
  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
