.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list-descriptions {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
