.portfolio-container {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.portfolio-card {
  width: 360px;
  height: 420px;
  min-width: 288px;
  max-width: 360px;
  min-height: 360px;
  max-height: 420px;
  border: 1px solid #e7e9fc;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 0;
  padding-left: 16px;
  margin: 0;
}

.portfolio-list-descriptions {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 32px;
  margin: 0;
}
