.team {
  background-color: #f4f4fd;
}

.team-list-member {
  background-color: #ffffff;
}

.team-list-descriptions {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list {
  font-weight: 400;
  list-style-type: none;
}
